<header>My website</header>



<% if(username) { %>
    <%=username%>  
    <form method="POST" action="/logout">
        <button>Logout</button>
        </form>
<% } else { %>
    <a href='/login'>login</a>
    <a href='/register'>register</a>
    <form method="POST" action="/login">
        <input type="text" name="username" style="width: 300px">
        <button>Login</button>
         </form>
<% } %>

