<header>My website</header>

<a href='http://localhost:8080/login'>http://localhost:8080/login</a>

<a href='http://localhost:8080/register'>http://localhost:8080/register</a>

<% if(username) { %>
    <%=username%>  
    <form method="POST" action="/logout">
        <button>Logout</button>
        </form>
<% } else { %>
    <form method="POST" action="/login">
        <input type="text" name="username" style="width: 300px">
        <button>Login</button>
         </form>
<% } %>

