<header>Login page</header>


<form method="POST" action="/login">
        <input type="text" name="email" style="width: 300px">
        <input type="text" name="password" style="width: 300px">
        <button>Login</button>
         </form>