<!DOCTYPE html>

<% include partials/_header.ejs%>



<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<ul>
    <% for(var property1 in urls) { %>
    <li><a href="/urls/<%=property1%>"><%= property1 %></a> </li>
    <form method="POST" action="/urls/<%= property1 %>/delete">
    <button type="submit">Delete</button>
    </form>
    <form method="GET" action="/urls/<%=property1%>/edit">
      <button type="submit">Edit</button> 
    </form>
    <% }; %>
</ul>
</body>
</html>