<!DOCTYPE html>

<% include partials/_header.ejs%>



<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<ul>
    <% for(var property1 in urls) { %>
    <li><a href='#'><%= property1 %></a> <%= urls[property1] %></li>
    <form method="POST" action="/urls/<%= property1 %>/delete">
    <button type="submit">Delete</button>
    </form>
    <% }; %>
</ul>
</body>
</html>